# General files
.DS_Store
.Rhistory
*.un*

# Project-specific files and directories
.snakemake/
*-env/

# Partially ignored directories
data/*
!data/README.md

doc/*docx
doc/*pdf

envs/*
!envs/Dockerfile
!envs/environment.yml
!envs/README.md
!envs/.dockerignore

intermediate/*
!intermediate/README.md

logs/*
!logs/README.md

results/*
results/stats/*html
!results/stats/
!results/stats/*qmd
!results/ampliseq_16S_output/
results/ampliseq_16S_output/*
!results/ampliseq_16S_output/pipeline_info

scratch/*
!scratch/README.md

code/nextflow
code/.nextflow*